.Authentication {
  .rectangle {
    position: absolute;
    top:25vh;
    height: 50vh !important;
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.5);
  }
  .please-enter-your-id-copy {
    color: #1c1c1c;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.22px;
    text-align: center
  }
  .rectangle-copy {
    height: 40px;
    width: 100%;
    border: 1px solid #606060;
    border-radius: 5px;
  }
  .rectangle-copy-2 {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3954b2;
  }
  .submit-copy {
    height: 16px;
    width: 58px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.01px;
    line-height: 16px;
  }

  @media only screen and (max-width: 600px) {
    .rectangle {
      position: absolute;
      top:25vh;
      height: 50vh !important;
      width: 100%;
      border:none !important;
      background-color: #ffffff;
      box-shadow:none;
    }
  }
}
